<!doctype html>
<html lang="en">
  <%- include('./partials/head') %>
  <body class="d-flex h-100">

    <div class="m-auto text-center">
      <h1>error: <%= error %></h1>
      <p><%= message %></p>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
