<!doctype html>
<html lang="en">
<%- include('./partials/head') %>

<body>

  <main role="main">
    <h1 class="h2 mb-3">Home page</h1>
  </main>

  <%- include('./partials/footer') %>
</body>

</html>
