<!doctype html>
<html lang="en">
  <%- include('./partials/head') %>
  <body class="d-flex h-100">

    <div class="m-auto text-center">
      <h1>WatchDog Discord Bot</h1>
      <a class="btn btn-lg btn-primary" href="https://discordapp.com/oauth2/authorize?&client_id=431381992081326081&scope=bot" role="button">Add to Discord</a>
      <a class="btn btn-lg btn-info" href="https://discord.gg/2dV4xRN" role="button">Get Support</a>
    </div>

    <%- include('./partials/footer') %>
  </body>
</html>
