@import url('https://fonts.googleapis.com/css?family=Roboto:300,500');

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #34383c;
  margin: 0 0;
  padding: 0 0;
}

.page-content {
  padding: 4px 42px;
}

h1 .page-content {
  margin-bottom: -10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #fff;
}

p, a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
}

.navbar {
  background: #23272a;
  padding: 21px 42px;
}

.navbar a {
  transition: .25s ease;
  color: #fff;
  text-decoration: none;
}

.navbar a:hover {
  color: #7792f3;
}

.navbar a:not(:last-child) {
  margin-right: 12px;
}

.navbar .right {
  float: right;
}
