<%- include('partials/header', {bot, user, path}) %>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="text-warning">Authentication Error</h1>
        <p>There has been a problem with authentication.</p>
      </div>
    </div>
  </div>
<% include partials/footer %>
