<%- include('partials/header', {bot, user, path}) %>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1><%= bot.user.username %> dashboard, work in progress.</h1>
      </div>
    </div>
  </div>
<% include partials/footer %>
